.TextContainer {
  background-color: #fff;
  color: #112d42;
  padding: 40px 30px;

  ul {
    margin: 20px 0;
    margin-left: 15px;
  }

  h2 {
    margin-bottom: 20px;
    color: #112d42;
  }

  p:not(:last-of-type) {
    margin-bottom: 16px;
  }

  .Button {
    margin-top: 40px;

    a {
      color: #fff;
    }
  }
}
