@import "../../../index.scss";

.Contact {
  &[centered="true"] {
    @include tablet-md {
      width: 600px;
      margin-left: auto;
      margin-right: auto;

      h2 {
        text-align: center;
      }

      .Contact_button {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &_form {
    margin-top: 30px;
  }

  &_button {
    cursor: pointer;
    margin-top: 30px;
    padding: 10px 25px;
    background-color: #03a9f4;
    border: 5px solid #03a9f4;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    transition: color 0.25s ease, background-color 0.25s ease;

    &:hover {
      color: #03a9f4;
      background-color: #fff;
    }
  }
}
