@import "../../../index.scss";

.Navigation {
  position: sticky;
  z-index: 4;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet-lg {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
    }
  }

  &_logoContainer {
    display: flex;
    align-items: center;
    padding: 3px 0;
  }

  &_list {
    display: flex;

    li:not(:last-of-type) {
      margin-right: 30px;

      @include desktop-sm {
        margin-right: 50px;
      }
    }
  }

  &_linksContainer {
    display: none;

    @include tablet-lg {
      display: block;
      margin: 0 30px;

      &:first-of-type {
        margin-left: 0;
        ul {
          justify-content: flex-end;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }
    }

    @include desktop-sm {
      margin: 0 50px;
    }
  }

  &_link {
    &Container[active="true"] .Navigation_link::before {
      width: 100%;
    }

    position: relative;
    color: #000;
    font-size: 2rem;
    font-weight: 500;

    &::before {
      position: absolute;
      content: "";
      left: 50%;
      bottom: -3px;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background-color: #000;
      transition: width 0.25s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }
}
